<section class="bg-white dark:bg-gray-900">
  <div class="p-8 max-w-2xl lg:py-16">
    <img loading="lazy" class="w-20 h-20 rounded-full" [src]="(userProfileDetails.profileDetails$ | async)?.image" alt="user profile picture">
    <h2 class="mb-2 text-xl font-semibold leading-none text-gray-900 md:text-2xl dark:text-white">{{ (userProfileDetails.profileDetails$ | async)?.email }}</h2>
    <p class="mb-4 text-xl font-extrabold leading-none text-gray-900 md:text-2xl dark:text-white">{{ (userProfileDetails.profileDetails$ | async)?.firstName }}</p>
    <dl>
      <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Details</dt>
      <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">Standard glass ,3.8GHz 8-core 10th-generation Intel Core i7 processor, Turbo Boost up to 5.0GHz, 16GB 2666MHz DDR4 memory, Radeon Pro 5500 XT with 8GB of GDDR6 memory, 256GB SSD storage, Gigabit Ethernet, Magic Mouse 2, Magic Keyboard - US.</dd>
    </dl>
    <dl class="flex items-center space-x-6">
      <div>
        <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Age</dt>
        <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">{{ (userProfileDetails.profileDetails$ | async)?.age }}</dd>
      </div>
      <div>
        <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Gender</dt>
        <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">{{ (userProfileDetails.profileDetails$ | async)?.gender }}</dd>
      </div>
      <div>
        <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Birth Date</dt>
        <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">{{ (userProfileDetails.profileDetails$ | async)?.birthDate }}</dd>
      </div>
    </dl>
  </div>
</section>
